.navbar{
     background:#F97300;
     background-color: #e3f2fd;
}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.navbar-collapse{
    justify-content: flex-end;
}
.bg-dark{
    background-color:#343a40!important
}

.bg-primary{
    background-color:#007bff!important
}

.page-holder {
    min-height: 100vh;
  }
  
  .bg-cover {
    background-size: contain;
}

:root {
    --lightblue: #F6F9FC;
    --red: #d64041;
  }
   
  a,
  a:hover {
    color: inherit;
  }
   
  a:hover {
    text-decoration: none;
  }
   
  .bg-lightblue {
    background: var(--lightblue);
  }
   
  .bg-red {
    background: var(--red);
  }
   
  .text-red {
    color: var(--red);
  }
   
  .container-fluid-max {
    max-width: 1440px;
  }
   
  .cover {
    background: no-repeat center/cover;
  }

  img{
      width: 100%;
      height: 100%;
  }

  .form-dark .modal-header {
    border-bottom: none;
}

.form-dark .modal-footer {
  border-top: none;
}

.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 2px solid #2ac6e2;
  -webkit-box-shadow: 10px 10px 10px 10px #2ac6e2;
  box-shadow: 0 1px 1px 0 #2ac6e2; }

.form-dark input[type=text]:focus:not([readonly]) + label {
  color: #2ac6e2; }


